@import "_theme.scss";
@import "_mixin.scss";

.bg-header, .bg-header-pme, .bg-header-ge{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-header-ge{height: 375px;}
.bg-header-pme{
  @include overlay($white, 0.8);
}
@mixin bg-propos-section($path){
  background-image: url($path);
  background-repeat: no-repeat;
  background-size: auto 100%;
  &.right{
    background-position: center right;
    text-align: left;
  }
  &.left{
    background-position: center left;
    text-align: right;
  }
}
#slider-contents{
  height: 450px;
  background-image: url(../images/homepage/slider/Banner_Homepage_1920x600px.jpg);
}
#bg-propos-header{
  height: 400px;
  background-image: url(../images/propos/Banner_introduction_1920x600px.jpg);
}
#bg-propos-value{
  height: 400px;
  background-image: url(../images/propos/Banner_valeurs.jpg);
}

#fibre-bg-header, #lolphone-bg-header, #lolcloud-bg-header{
  height: 160px;
}
#fibre-bg-header{
  @include bg-propos-section("../images/propos/fibre_optique.jpg");
}
#lolphone-bg-header{
  @include bg-propos-section("../images/propos/telephonie.jpg");
}
#lolcloud-bg-header{
  @include bg-propos-section("../images/propos/cloud.jpg");
}

#social-links{
  height: 200px;
  background-position: top center;
  background-size: 672px auto;
  background-repeat: no-repeat;
  &{
    background-image: url(../images/homepage/Socials/Socials_bandeau_672x200px.jpg);
  }
}

//HEADER BACKGROUND
//--------------------------------------------------------------

//PME
//-------------------------
#bg-pme-accueil{background-image: url(../images/pme/homepage/Accueil_1055x322px.jpg);}
#pme-witness{background-image: url(../images/pme/homepage/tab-bg-witness.jpg);}
#bg-pme-cloud-accueil{background-image: url(../images/pme/cloud/Cloud_1055x322px.jpg);}
#bg-pme-cloud-mail{background-image: url(../images/pme/cloud/Cloud_Email_1055x322px.jpg);}
#bg-pme-cloud-lolcloud{background-image: url(../images/pme/cloud/Cloud_LOLCLOUD_1055x322px.jpg);}
#bg-pme-cloud-host{background-image: url(../images/pme/cloud/Cloud_Webhosting_1055x322px.jpg);}
#bg-pme-gestion-accueil{background-image: url(../images/pme/gestion/Gestion_1055x322px.jpg);}
#bg-pme-internet-accueil{background-image: url(../images/pme/internet/Internet_1055x322px.jpg);}
#bg-pme-internet-sdsl{background-image: url(../images/pme/internet/Internet_SDSL_1055x322px.jpg);}
#bg-pme-internet-fibre{background-image: url(../images/pme/internet/Internet_Fibre_1055x322px.jpg);}
#bg-pme-internet-fibresym{background-image: url(../images/pme/internet/Internet_Fibresymetrique_1055x322px.jpg);}
#bg-pme-internet-opt{background-image: url(../images/pme/internet/Internet_Optionsbusiness_1055x322px.jpg);}
#bg-pme-mobile-accueil{background-image: url(../images/pme/mobile/Mobile_1055x322px.jpg);}
#bg-pme-mobile-abo{background-image: url(../images/pme/mobile/Mobile_Abo_1055x322px.jpg);}
#bg-pme-mobile-mat{background-image: url(../images/pme/mobile/Mobile_Materiel_1055x322px.jpg);}
#bg-pme-telephonie-accueil{background-image: url(../images/pme/telephonie/Telephonie_1055x322px.jpg);}
#bg-pme-telephonie-cloud{background-image: url(../images/pme/telephonie/Telephonie_LOLCLOUDPHONE_1055x322px.jpg);}
#bg-pme-telephonie-mat{background-image: url(../images/pme/telephonie/Telephonie_Materiel_1055x322px.jpg);}
#bg-pme-telephonie-sip{background-image: url(../images/pme/telephonie/Telephonie_SIP_1055x322px.jpg);}
#bg-pme-news{background-image: url(../images/pme/divers/Actualites_1055x322px.jpg);}
#bg-pme-contact{background-image: url(../images/pme/divers/Contact_1055x322px.jpg);}
#bg-pme-mobile-equip{background-image: url(../images/pme/mobile/Mobile_Materiel_1055x322px.jpg);}

//GRANDE ENTREPRISE
//-------------------------
#bg-ge-accueil{background-image: url(../images/ge/homepage/Accueil_1055x322px.jpg);}
#bg-ge-internet-accueil{background-image: url(../images/ge/internet/Internet_1055x322px.jpg);}
#ge-witness{background-image: url(../images/ge/homepage/bg-witness.jpg);}
#bg-ge-news{background-image: url(../images/ge/divers/Actualites_1055x322px.jpg);}
#ge-internet-fibre{background-image: url(../images/ge/internet/bg-fibre.jpg);}
#ge-internet-fibresym{background-image: url(../images/ge/internet/bg-fibresym.jpg);}
#ge-internet-vpn{background-image: url(../images/ge/internet/bg-vpn.jpg);}
#bg-ge-tel-cloud{background-image: url(../images/ge/telephonie/bg-cloud.jpg);}
#bg-ge-tel-accueil{background-image: url(../images/ge/telephonie/Telephonie_1055x322px.jpg);}
#bg-ge-tel-cloud{background-image: url(../images/ge/telephonie/bg-cloud.jpg);}
#bg-ge-tel-mat{background-image: url(../images/ge/telephonie/bg-equip.jpg);}
#bg-ge-tel-options{background-image: url(../images/ge/telephonie/bg-options.jpg);}
#bg-ge-tel-sip{background-image: url(../images/ge/telephonie/bg-sip.jpg);}
#bg-ge-cloud-accueil{background-image: url(../images/ge/cloud/Cloud_1055x322px.jpg);}
#bg-ge-cloud-cloud{background-image: url(../images/ge/cloud/bg-cloud.jpg);}
#bg-ge-cloud-rack{background-image: url(../images/ge/cloud/bg-rack.jpg);}
#bg-ge-cloud-host{background-image: url(../images/ge/cloud/bg-hosting.jpg);}
#bg-ge-mobile-accueil{background-image: url(../images/ge/mobile/Mobile_1055x322px.jpg);}
#bg-ge-mobile-abo{background-image: url(../images/ge/mobile/bg-abo.jpg);}
#bg-ge-mobile-abo-header{background-image: url(../images/ge/mobile/Mobile_Abonnements_1055x322px.jpg);}
#bg-ge-mobile-mat-header{background-image: url(../images/ge/mobile/Mobile_Materiel_1055x322px.jpg);}
#bg-ge-mobile-mat{background-image: url(../images/ge/mobile/bg-mat.jpg);}
#bg-ge-internet-fibre-header{background-image: url(../images/ge/internet/Internet_FibreOptique_1055x322px.jpg);}
#bg-ge-internet-fibresym-header{background-image: url(../images/ge/internet/Internet_Fibresymetrique_1055x322px.jpg);}
#bg-ge-internet-vpn-header{background-image: url(../images/ge/internet/Internet_VPN_1055x322px.jpg);}



@include media(tab){
  #bg-propos-value{
    height: 350px;
  }
  #slider-contents{
    height: 400px;
  }
  #social-links{
    height: 240px;
    background-size: 1056px auto;
    &{
      background-image: url(../images/homepage/Socials/Socials_bandeau_1056x240px.jpg);
    }
  }
}

@include media(desk) {
  .bg-header-pme{
    background-position: center center;
    background-size: 1302px auto;
    &:before{
      display: none;
    }
  }
  #bg-pme-accueil{background-image: url(../images/pme/homepage/Accueil_1302x330px.jpg);}
  #bg-pme-cloud-accueil{background-image: url(../images/pme/cloud/Cloud_1302x330px.jpg);}
  #bg-pme-cloud-mail{background-image: url(../images/pme/cloud/Cloud_Email_1302x330px.jpg);}
  #bg-pme-cloud-lolcloud{background-image: url(../images/pme/cloud/Cloud_LOLCLOUD_1302x330px.jpg);}
  #bg-pme-cloud-host{background-image: url(../images/pme/cloud/Cloud_Webhosting_1302x330px.jpg);}
  #bg-pme-gestion-accueil{background-image: url(../images/pme/gestion/Gestion_1302x330px.jpg);}
  #bg-pme-internet-accueil{background-image: url(../images/pme/internet/Internet_1302x330px.jpg);}
  #bg-pme-internet-sdsl{background-image: url(../images/pme/internet/Internet_SDSL_1302x330px.jpg);}
  #bg-pme-internet-fibre{background-image: url(../images/pme/internet/Internet_Fibre_1302x330px.jpg);}
  #bg-pme-internet-fibresym{background-image: url(../images/pme/internet/Internet_Fibresymetrique_1302x330px.jpg);}
  #bg-pme-internet-opt{background-image: url(../images/pme/internet/Internet_Optionsbusiness_1302x330px.jpg);}
  #bg-pme-mobile-accueil{background-image: url(../images/pme/mobile/Mobile_1302x330px.jpg);}
  #bg-pme-mobile-abo{background-image: url(../images/pme/mobile/Mobile_Abo_1302x330px.jpg);}
  #bg-pme-mobile-mat{background-image: url(../images/pme/mobile/Mobile_Materiel_1302x330px.jpg);}
  #bg-pme-telephonie-accueil{background-image: url(../images/pme/telephonie/Telephonie_1302x330px.jpg);}
  #bg-pme-telephonie-cloud{background-image: url(../images/pme/telephonie/Telephonie_LOLCLOUDPHONE_1302x330px.jpg);}
  #bg-pme-telephonie-mat{background-image: url(../images/pme/telephonie/Telephonie_Materiel_1302x330px.jpg);}
  #bg-pme-telephonie-sip{background-image: url(../images/pme/telephonie/Telephonie_SIP_1302x330px.jpg);}
  #bg-pme-news{background-image: url(../images/pme/divers/Actualites_1302x330px.jpg);}
  #bg-pme-contact{background-image: url(../images/pme/divers/Contact_1302x330px.jpg);}
  #bg-pme-mobile-equip{background-image: url(../images/pme/mobile/Mobile_Materiel_1302x330px.jpg);}
  #bg-ge-accueil{background-image: url(../images/ge/homepage/Accueil_1920x360px.jpg);}
  #bg-ge-news{background-image: url(../images/ge/divers/Actualites_1920x360px.jpg);}
  #bg-ge-internet-accueil{background-image: url(../images/ge/internet/Internet_1920x360px.jpg);}
  #bg-ge-tel-accueil{background-image: url(../images/ge/telephonie/Telephonie_1920x360px.jpg);}
  #bg-ge-cloud-accueil{background-image: url(../images/ge/cloud/Cloud_1920x360px.jpg);}
  #bg-ge-mobile-accueil{background-image: url(../images/ge/mobile/Mobiler_1920x360px.jpg);}
  #bg-ge-mobile-abo-header{background-image: url(../images/ge/mobile/Mobile_Abonnements_1920x360px.jpg);}
  #bg-ge-mobile-mat-header{background-image: url(../images/ge/mobile/Mobile_Materiel_1920x360px.jpg);}
  #bg-ge-internet-fibre-header{background-image: url(../images/ge/internet/Internet_FibreOptique_1920x360px.jpg);}
  #bg-ge-internet-fibresym-header{background-image: url(../images/ge/internet/Internet_Fibresymetrique_1920x360px.jpg);}
  #bg-ge-internet-vpn-header{background-image: url(../images/ge/internet/Internet_VPN_1920x360px.jpg);}


  #social-links{
    height: 230px;
    background-size: 1302px auto;
    &{
      background-image: url(../images/homepage/Socials/Socials_bandeau_1302x230px.jpg);
    }
  }
}
@include media(lgdesk) {
  .bg-header-pme{
    background-size: 1920px auto;
  }
  #social-links{
    height: 300px;
    background-size: 1920px auto;
    &{
      background-image: url(../images/homepage/Socials/Socials_bandeau_1920x300px.jpg);
    }
  }
  #bg-pme-accueil{background-image: url(../images/pme/homepage/Accueil_1920x360px.jpg);}
  #bg-pme-cloud-accueil{background-image: url(../images/pme/cloud/Cloud_1920x360px.jpg);}
  #bg-pme-cloud-mail{background-image: url(../images/pme/cloud/Cloud_Email_1920x360px.jpg);}
  #bg-pme-cloud-lolcloud{background-image: url(../images/pme/cloud/Cloud_LOLCLOUD_1920x360px.jpg);}
  #bg-pme-cloud-host{background-image: url(../images/pme/cloud/Cloud_Webhosting_1920x360px.jpg);}
  #bg-pme-gestion-accueil{background-image: url(../images/pme/gestion/Gestion_1920x360px.jpg);}
  #bg-pme-internet-accueil{background-image: url(../images/pme/internet/Internet_1920x360px.jpg);}
  #bg-pme-internet-sdsl{background-image: url(../images/pme/internet/Internet_SDSL_1920x360px.jpg);}
  #bg-pme-internet-fibre{background-image: url(../images/pme/internet/Internet_Fibre_1920x360px.jpg);}
  #bg-pme-internet-fibresym{background-image: url(../images/pme/internet/Internet_Fibresymetrique_1920x360px.jpg);}
  #bg-pme-internet-opt{background-image: url(../images/pme/internet/Internet_Optionsbusiness_1920x360px.jpg);}
  #bg-pme-mobile-accueil{background-image: url(../images/pme/mobile/Mobile_1920x360px.jpg);}
  #bg-pme-mobile-abo{background-image: url(../images/pme/mobile/Mobile_Abo_1920x360px.jpg);}
  #bg-pme-mobile-mat{background-image: url(../images/pme/mobile/Mobile_Materiel_1920x360px.jpg);}
  #bg-pme-telephonie-accueil{background-image: url(../images/pme/telephonie/Telephonie_1920x360px.jpg);}
  #bg-pme-telephonie-cloud{background-image: url(../images/pme/telephonie/Telephonie_LOLCLOUDPHONE_1920x360px.jpg);}
  #bg-pme-telephonie-mat{background-image: url(../images/pme/telephonie/Telephonie_Materiel_1920x360px.jpg);}
  #bg-pme-telephonie-sip{background-image: url(../images/pme/telephonie/Telephonie_SIP_1920x360px.jpg);}
  #bg-pme-news{background-image: url(../images/pme/divers/Actualites_1920x360px.jpg);}
  #bg-pme-contact{background-image: url(../images/pme/divers/Contact_1920x360px.jpg);}
  #bg-pme-mobile-equip{background-image: url(../images/pme/mobile/Mobile_Materiel_1920x360px.jpg);}
}
