@import "_theme.scss";
@import "_mixin.scss";

#slider-contents{
  height: 450px;
  background-position: center center;
  background-size: cover;
  &{
    background-image: url(../images/homepage/slider/Banner_Homepage_1920x600px.jpg);
  }
}

@include media(tab){
  #slider-contents{
    height: 400px;
  }
}

/*
@include media(lgdesk){
#slider-contents{
.infos{
background-size: 1920px auto;
&{
background-image: url();
}
}
}
}
*/
